<extend name="./Application/Admin/View/default/Public/base.html"/>
<block name="body">
	<div class="tpl-content-wrapper-body row-content">
		<div class="row">
			<div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
				<div class="widget am-cf">
					<div class="widget-head am-cf">
						<div class="widget-title  am-cf">{$title}
						</div>
						<php>
							$style = $query['opt']['state'] ? '':  "style='display: none;'";
						</php>
						<div id="query-container" {$style} class="am-cf">
							<form class="am-u-sm-12 am-u-md-4 am-u-lg-4 am-form tpl-form-border-form tpl-form-border-br tpl-form-line-form" id="searchForm" name="searchform" action="" method="get">
								<input type="hidden" name="page" value="1">
								<volist name="hiddenInput" id="item">
									<input type="hidden" name="{$item.name}" value="{$item.value}">
								</volist>
								<notempty name="query">
									<if condition="$hidequery">
										<div class="am-form-group">
											<label  class="am-u-sm-3 am-form-label">{$query['opt']['title']}</label>
											<div class="am-u-sm-9	 am-input-group am-input-group-sm " style="padding-left: 0;padding-right: 0;float: left;">
												<input type="text" name="{$query['name']}"  class="am-form-field" style="max-width: 195px"  id="queryInput" placeholder="{$query.opt.placeholder}"
													   value="{$query['opt']['value']}">
												<php>
													$prompt = $query['opt']['prompt'];
												</php>
												<notempty name="prompt">
													<br/>
													<p style="font-size: 12px">搜索关键词：{$prompt}</p>
												</notempty>
											</div>
										</div>
									</if>
								</notempty>
								<notempty name="queryselect">
									<volist name="queryselect" id="queryselectItem">
									<?php  $keyarr = array_keys($queryselectItem['arrvalue']); ?>
									<div class="am-form-group">
										<label  class="am-u-sm-3 am-form-label">{$queryselectItem['opt']['title']}</label>
										<notempty name="queryselectItem.opt.prompt">
											<div class="am-u-sm-6" style="padding-left: 0;padding-right: 0">
												<select data-am-selected="{btnSize:'sm'}" name="{$queryselectItem['name']}" id="querySelest" onchange="setQueryPlaceholder(this)">
													<option>{$queryselectItem['opt']['defaultvalue']}</option>
													<volist name="queryselectItem['arrvalue']" id="options">
														<?php
															$selected = $queryselectItem['opt']['select'] == $keyarr[$i-1]?'selected="selected"':"";
														?>
														<option  value="{$keyarr[$i-1]}" {$selected}>{$options}</option>
													</volist>
												</select>
											</div>
										</notempty>
										<empty name="queryselectItem.opt.prompt">
											<div class="am-u-sm-9" style="padding-left: 0;padding-right: 0">
												<select data-am-selected="{btnSize:'sm'}" name="{$queryselectItem['name']}" id="querySelest" onchange="setQueryPlaceholder(this)">
													<option>{$queryselectItem['opt']['defaultvalue']}</option>
													<volist name="queryselectItem['arrvalue']" id="options">
														<?php
															$selected = $queryselectItem['opt']['select'] == $keyarr[$i-1]?'selected="selected"':"";
														?>
														<option  value="{$keyarr[$i-1]}" {$selected}>{$options}</option>
													</volist>
												</select>
											</div>
										</empty>
										<notempty name="queryselectItem.opt.prompt">
										<br/>
										<p style="font-size: 12px" class="am-u-sm-offset-3">{$queryselectItem['opt']['prompt']}</p>
										</notempty>
									</div>
									</volist>
									<script type="text/javascript">
										function setQueryPlaceholder(dom) {
                                            var a = $('#querySelest option:selected').text();
                                            if(a){
                                                $("#queryInput").attr("placeholder","请搜索："+a);
                                            }else{
                                                $("#queryInput").attr("placeholder","");
											}
                                        }
									</script>
								</notempty>
								<notempty name="startime">
									<php>
										$type = $startime["type"];
										if($type == 'd')$timeState = "";
										if($type == 'm')$timeState = "{format: 'yyyy-mm', viewMode: 'years', minViewMode: 'months'}";
										if($type == 'y')$timeState = "{format: 'yyyy ', viewMode: 'years', minViewMode: 'years'}";
										$type2 = $endtime["type"];
										if($type2 == 'd')$timeState2 = "";
										if($type2 == 'm')$timeState2 = "{format: 'yyyy-mm', viewMode: 'years', minViewMode: 'months'}";
										if($type2 == 'y')$timeState2 = "{format: 'yyyy ', viewMode: 'years', minViewMode: 'years'}";

									</php>
									<div class="am-form-group">
										<label  class="am-u-sm-3 am-form-label">{$startime.title}</label>
										<div class="am-u-sm-5 am-input-group am-input-group-sm " style="padding-left: 0;padding-right: 0;float: left;">
											<input  id="{$startime['name']}_star" type="text" name="{$startime['name']}" data-type="{$startime['type']}"  data-am-datepicker="{$timeState}"  class="am-form-field"  placeholder="请选择开始时间"
													value="{$startime['value']}" readonly>
										</div>
									</div>
									<script type="text/javascript">
                                        var stardom  = $("#{$startime['name']}_star");
                                        if($(stardom).data("type") == "m"){
                                            $(".am-datepicker-month").click(function(){
                                                $(this).parents(".am-datepicker").hide();
                                            })
                                        }
									</script>
								</notempty>
								<notempty name="endtime">
									<div class="am-form-group">
										<label  class="am-u-sm-3 am-form-label">{$endtime.title}</label>
										<div class="am-u-sm-5 am-input-group am-input-group-sm " style="padding-left: 0;padding-right: 0;float: left;">
											<input id="{$endtime['name']}_end" type="text" name="{$endtime['name']}" data-type="{$endtime['type']}" data-am-datepicker="{$timeState2}"  class="am-form-field"  placeholder="请选择结束时间"
												   value="{$endtime['value']}" readonly>
										</div>
									</div>
									<script type="text/javascript">
                                        var stardom  = $("#{$startime['name']}_star");
                                        var enddom  = $("#{$endtime['name']}_end");
                                        var startime = "";
                                        var endtime = "";
                                        $(stardom).datepicker().
                                        on('changeDate.datepicker.amui', function(event) {
                                            startime = Date.parse(new Date($(stardom).val()));
                                            endtime = Date.parse(new Date($(enddom).val()));
                                            if(endtime && startime > endtime){
                                                toast.error("开始时间不能大于结束时间,否则影响搜索结果");
                                            }
                                        });
                                        $(enddom).datepicker().
                                        on('changeDate.datepicker.amui', function(event) {
                                            endtime =  Date.parse(new Date($(enddom).val()));
                                            startime =  Date.parse(new Date($(stardom).val()));
                                            if(endtime && startime > endtime){
                                                toast.error("开始时间不能大于结束时间,否则影响搜索结果");
                                            }else{
                                                console.log("123");
											}
                                        });
                                   		if($(enddom).data("type") == "m"){
                                            $(".am-datepicker-month").click(function(){
                                                $(this).parents(".am-datepicker").hide();
                                            })
                                        }

									</script>
								</notempty>
								<notempty name="onselect">
									<div class="am-form-group">
										<label  class="am-u-sm-3 am-form-label">{$onselect['opt']['title']}</label>
										<div class="am-u-sm-6" style="padding-left: 0;padding-right: 0;float: left;">
											<select data-am-selected="{btnSize:'sm'}" name="{$onselect['name']}" id="OnquerySelest" onchange="setonselect(this)">
												<option>{$onselect.opt.defaultvalue}</option>
												<volist name="onselect['opt']['select']" id="options">
													<php>
														$selected = $onselect['opt']['value'] == $options['id'] ? 'selected="selected" ' : '';
													</php>
													<option  value="{$options.id}" {$selected}>{$options.name}</option>
												</volist>
											</select>
										</div>
									</div>
								</notempty>
								<notempty name="onselectdata">
									<div class="am-form-group">
										<label  class="am-u-sm-3 am-form-label">{$onselectdata['opt']['title']}</label>
										<div class="am-u-sm-6" style="padding-left: 0;padding-right: 0;float: left;">
											<select data-am-selected="{btnSize:'sm'}" name="{$onselectdata['name']}" id="OnquerySelestData">
												<option>{$onselectdata.opt.defaultvalue}</option>
											</select>
										</div>
									</div>
									<php>
										$newarr = json_encode($onselectdata['opt']['select']);
									</php>
									<script type="application/javascript">
                                        var arr = {$newarr};
                                        var title = "{$onselectdata.opt.title}";
										function setonselect(dom) {
                                            var selectVal = $(dom).val();
                                            selectRes(selectVal);
                                        }
                                        setonselect($("#OnquerySelest"));
                                        var old_val =("{$onselectdata['opt']['value']}");
                                        function selectRes(val) {
                                            $("#OnquerySelestData").children().remove();
                                            for (var item in arr){
												if(item == val){
												    var data = arr[item];
												    for (var i = 0;i<data.length;i++){
                                                        var select = "";
                                                        if(old_val == data[i].id){
                                                            select  = "selected='selected'";
                                                        }
                                                        var html = "<option value="+data[i].id+" "+select+">"+data[i].name+"</option>";
                                                        $("#OnquerySelestData").append(html);
													}
												}
											}
                                        }
									</script>
								</notempty>
								<notempty name="query">
									<p class="am-u-sm-offset-2">
										<button type="submit" class="am-btn am-btn-sm am-btn-success">查询</button>
										<button type="button" class="am-btn am-btn-default am-btn-sm tpl-table-list-field" id="close-query">隐藏</button>
										<a href="{$query.opt.url}" class="am-btn am-btn-default am-btn-sm tpl-table-list-field am-btn-danger">清除</a>
									</p>
								</notempty>
							</form>
						</div>
					</div>
					<div class="widget-body am-fr">
						<div class="am-u-sm-12 am-u-md-4 am-u-lg-4">
                            <div class="am-form-group">
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
										<notempty name="query">
											<button id="open-query" name="excel" class="am-btn am-btn-sm am-btn-primary">搜索</button>
											<script type="text/javascript">
                                                $("#open-query").click(function(){
                                                    $("#query-container").show();
                                                })
                                                $("#close-query").click(function(){
                                                    $("#query-container").hide();
                                                })
											</script>
										</notempty>
										<volist name="buttonList" id="button">
	                                        <{$button['attr'].label} href="{$button['attr'].href}" class="{$button['attr'].class}" target-form="{$button['attr'].target-form}">
	                                        	{$button['attr'].icon}
	                                        	{$button.title}
	                                        </{$button['attr'].label}>
                                       </volist>
										<notempty name="excel">
											<php>
												$url = $excel['url'];
											</php>
											<button id="open-upload-excel" onclick="checkaction()"  class="am-btn am-btn-sm am-btn  am-btn-default am-btn-warning"><span class="am-icon-plus"></span>导出excel</button >
											<script type="text/javascript">
                                                function checkaction(){
                                                    toast.success("正在执行导出操作,请勿关闭浏览器");
                                                    document.searchform.action="{$url}";
                                                    document.searchform.method="post"
                                                    searchform.submit();
                                                    document.searchform.action = "";
                                                }
											</script>
										</notempty>
										<notempty name="excel2">
											<php>
												$url = $excel2['url'];
											</php>
											<a  class="am-btn am-btn-sm am-btn  am-btn-default am-btn-warning" href='{$url}' target="_blank"><span class="am-icon-plus"></span>导出excel</a >
										</notempty>
                                    </div>
                                </div>
                            </div>
                        </div>
						<div class="am-u-sm-12 am-u-md-8 am-u-lg-8">
							<notempty name="grossincome">
								<p style="text-align: right">{$grossincome['value']}</p>
							</notempty>
							<notempty name="select">
								<form style="float: right" id="{$select['name']}_form_select" action="" method="get">
									<?php  $keyarr = array_keys($select['arrvalue']);  ?>
									<div class="am-form-group">
										<select data-am-selected="{btnSize:'sm'}" name="{$select['name']}" onchange="submitSelectForm()">
											<option>{$select['opt']['defaultvalue']}</option>
											<volist name="select['arrvalue']" id="options">
												<?php
													$selected = $select['opt']['select'] == $keyarr[$i-1]?'selected="selected"':"";
												?>
												<option  value="{$keyarr[$i-1]}" {$selected} >{$options}</option>
											</volist>
										</select>
									</div>
								</form>
								<script>
                                    function submitSelectForm(){
                                        var form = document.getElementById("{$select['name']}_form_select");
                                        form.submit();
                                    }
								</script>
							</notempty>
						</div>
						<notempty name="keyList">
							<div class="am-u-sm-12">
							<table width="100%" class="am-table am-table-compact am-table-bordered am-table-striped tpl-table-black">
								<thead>
									<tr>
										<th class="checkbox">
											<label>
												<input type="checkbox" id="builderAllCheckbox" name="">
											</label>
										</th>
										<volist name="keyList" id="field">
						                    <th>{$field.title}</th>
						                </volist>
									</tr>
								</thead>
								<tbody>
									<volist name="list" id="e">
										<tr>
											<td class="checkbox">
												<label>
													<input class="ids" type="checkbox"  value="{$e['id']}" name="ids[]">
												</label>
											</td>
											<volist name="keyList" id="field">
												<php>
													$added = '';
													if(gettype($field['opt']) == 'array'){
														$added = $field['opt']['added'];
													};
												</php>
												<td>
													{$e[$field['name']]}{$added}
												</td>
											</volist>
										</tr>
									</volist>									
								</tbody>
							</table>
						</div>
						</notempty>
						<notempty name="pagination">
							{$pagination}
						</notempty>
					</div>
				</div>
			</div>
		</div>
	</div>


</block>
